# Pandas Library

### What is Pandas?

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language

### Why use Pandas?

- Easy to visualize data from different formats
- Easily handles missing data
- It provides an efficient way to slice the data
- It provides a flexible way to merge, concatenate, or reshape the data
- It includes a powerful time series tool to work with

## Pandas Resources

The following link contains the Pandas API reference.

https://pandas.pydata.org/docs/reference/index.html#api

The following link is another very useful resource for using Pandas library

https://pandasguide.readthedocs.io/en/latest/

## Loading the Pandas library

In [1]:
import pandas as pd

## Loading Data

These are some of the most popular file formats Pandas can use:

- CSV
- XLSX
- ZIP
- Plain Text (txt)
- JSON
- XML
- HTML
- Images
- PDF
- SQL

In [2]:
df = pd.read_csv(r'olympic_data_HFNL.csv')

In [4]:
df.head(10)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
7,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
8,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
9,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN

## Operations to better understand the data

The following operation allows you to change the default number of rows to be displayed

In [ ]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)

#df

Using ``head()`` and ``tail()`` allow you to visualize the top or bottom rows of the data set. By default, it outputs 5 rows, however you can change that by passing the number of rows you want to visualize

In [7]:
#df.head()

#df.tail(20)

Using ``dtypes`` returns the data type of each column in the data frame

In [8]:
df.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

Using ``columns`` returns the columns of the data frame

In [9]:
df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

Using ``shape`` returns the shape of the data frame

In [10]:
df.shape

(122216, 15)

Using ``len()`` returns the length of the data frame

In [11]:
len(df)

122216

Using ``info()`` returns information about the data frame

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122216 entries, 0 to 122215
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      122216 non-null  int64
 1   Name    122216 non-null  object
 2   Sex     122216 non-null  object
 3   Age     122157 non-null  float64
 4   Height  116188 non-null  float64
 5   Weight  115753 non-null  float64
 6   Team    122216 non-null  object
 7   NOC     122216 non-null  object
 8   Games   122216 non-null  object
 9   Year    122216 non-null  int64
 10  Season  122216 non-null  object
 11  City    122216 non-null  object
 12  Sport   122216 non-null  object
 13  Event   122216 non-null  object
 14  Medal   16781 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 14.0+ MB

Using ``describe()`` returns a description of the data in the data frame

In [13]:
df.describe()

,ID,Age,Height,Weight,Year
count,122216.000000,122157.000000,116188.000000,115753.000000,122216.000000
mean,68918.618454,25.471238,175.821591,71.101126,2003.854209
std,39137.352406,5.395603,10.901634,15.152324,7.889321
min,1.000000,11.000000,133.000000,28.000000,1992.000000
25%,35437.000000,22.000000,168.000000,60.000000,1996.000000
50%,69121.000000,25.000000,176.000000,70.000000,2004.000000
75%,102672.000000,28.000000,183.000000,80.000000,2012.000000
max,135571.000000,71.000000,226.000000,214.000000,2016.000000

These are two ways of accessing data of a column

In [17]:
#df['Sport']

#df.Sport

Using ``unique()`` returns the unique occurrences in a column, and using ``nunique()`` returns the number of unique occurences in a column

In [19]:
#df['Sport'].unique()

#df['Sport'].nunique()

51

To access data from the data frame, you can use ``loc`` (used with particular labels) or ``iloc`` (used at integer locations)

In [26]:
#df.iloc[0:4] # access the first 4 rows
#df.iloc[0][4] # access the fifth column of the first row
#df.head()
#df.loc[4]
df.loc[4][1]

'Christine Jacoba Aaftink'

To access the maximum or minimum values of a column, use ``max()`` and ``min()``

In [32]:
#df['Weight'].max()

#df['Weight'].min()

df[df['Weight'] == df['Weight'].min()].head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
115100,128605,Wang Xin (Ruoxue-),F,15.0,137.0,28.0,China,CHN,2008 Summer,2008,Summer,Beijing,Diving,Diving Women's Platform,Bronze
115101,128605,Wang Xin (Ruoxue-),F,15.0,137.0,28.0,China,CHN,2008 Summer,2008,Summer,Beijing,Diving,Diving Women's Synchronized Platform,Gold

You can filter the data frame to meet certain conditions. For example, show the first 5 records of gold medal winners in 2010 from Canada

In [33]:
refined_df = df[(df['Medal'] == 'Gold') & (df['Year'] == 2010) & (df['Team'] == 'Canada')]
refined_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1026,1181,Meghan Christina Agosta (-Marciano),F,23.0,168.0,67.0,Canada,CAN,2010 Winter,2010,Winter,Vancouver,Ice Hockey,Ice Hockey Women's Ice Hockey,Gold
3326,3824,Jasey-Jay Anderson,M,34.0,178.0,80.0,Canada,CAN,2010 Winter,2010,Winter,Vancouver,Snowboarding,Snowboarding Men's Parallel Giant Slalom,Gold
4077,4742,Gillian Mary Apps,F,26.0,180.0,80.0,Canada,CAN,2010 Winter,2010,Winter,Vancouver,Ice Hockey,Ice Hockey Women's Ice Hockey,Gold
7208,8514,Guillaume Bastille,M,24.0,176.0,70.0,Canada,CAN,2010 Winter,2010,Winter,Vancouver,Short Track Speed Skating,"Short Track Speed Skating Men's 5,000 metres R...",Gold
9094,10472,Patrice Bergeron-Cleary,M,24.0,188.0,88.0,Canada,CAN,2010 Winter,2010,Winter,Vancouver,Ice Hockey,Ice Hockey Men's Ice Hockey,Gold

Another filtering example could be show only the data of the top 10 youngest gold medal winners from 2008

In [35]:
top10_youngest_2008 = df[(df['Medal'] == 'Gold') & (df['Year'] == 2008)].sort_values(by = ['Age'], ascending = False).head(10)

top10_youngest_2008

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
99071,110900,"William ""Will"" Simpson",M,49.0,173.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Jumping, Team",Gold
107260,119985,Peter Thomsen,M,47.0,183.0,72.0,Germany,GER,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Gold
51015,58624,Heike Kemmer,F,46.0,172.0,63.0,Bonaparte,GER,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Dressage, Team",Gold
91363,102290,Hinrich Peter Romeike,M,45.0,175.0,69.0,Germany,GER,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Gold
91362,102290,Hinrich Peter Romeike,M,45.0,175.0,69.0,Germany,GER,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Three-Day Event, Individual",Gold
65041,73175,"Elizabeth ""Beezie"" Madden (Patton-)",F,44.0,168.0,63.0,United States,USA,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Jumping, Team",Gold
21050,24426,Juan Esteban Curuchet,M,43.0,175.0,65.0,Argentina,ARG,2008 Summer,2008,Summer,Beijing,Cycling,Cycling Men's Madison,Gold
15551,18029,Nadine Capellmann (-Biffar-),F,43.0,166.0,51.0,Elvis Va,GER,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Dressage, Team",Gold
24173,28324,Andreas Dibowski,M,42.0,181.0,73.0,Germany,GER,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",Gold
56372,63868,Laura Kraut (Kent-),F,42.0,168.0,58.0,United States,USA,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Jumping, Team",Gold